doctype html
html
  head
    title Chào mừng đối tác
  body
    h1 Xin chào #{firstName},
    p Cảm ơn bạn đã trở thành đối tác của Fvivu!
    p Tài khoản của bạn đã được tạo với thông tin:
    ul
      li Email: #{email}
      li Mật khẩu tạm thời: #{password}
    p Vui lòng đăng nhập và thay đổi mật khẩu của bạn càng sớm càng tốt.
    p Chúc bạn có những trải nghiệm tuyệt vời cùng Fvivu!
